.SeasonCard {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 160px;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}
.SeasonCard:hover {
  transform: scale(1.01);
  transition: 0.4s ease;
}
.SeasonCard img {
  width: 100%;
  border-radius: 10px;
}
.SeasonCard .seasonNo {
  font-size: 15px;
  color: white;
  text-align: center;
}

/* this is responsive section */
@media screen and (max-width: 900px) {
  .SeasonCard {
    width: 150px;
  }
  .SeasonCard .seasonNo {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  .SeasonCard {
    width: 140px;
  }
  .SeasonCard .seasonNo {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .SeasonCard {
    width: 130px;
  }
  .SeasonCard .seasonNo {
    font-size: 13px;
  }
}
@media screen and (max-width: 400px) {
  .SeasonCard {
    width: 110px;
  }
  .SeasonCard .seasonNo {
    font-size: 11px;
  }
}
