.movieplay_container {
  border-radius: var(--container_borderRadius);
  box-shadow: var(--container_shadow_dark);
  background: var(--container_color_darkest);
  position: relative;
  height: 85vh;
  width: 100%;
  color: white;
}
.movieplay_container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 64%
  );
}
.movieplay_container .poster_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.movieplay_container .backBtn {
  position: absolute;
  top: 15px;
  left: 30px;
  color: rgb(8, 253, 233);
  text-shadow: 2px 2px 8px rgba(8, 253, 233, 0.699);
  width: 30px;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s ease;
}
.movieplay_container .backBtn:active {
  transform: scale(90%);
  color: rgba(255, 255, 255, 0.726);
  transition: 0.3s ease;
}
/* ---- bigCard Wrapper Section ----*/
.bigCard_wrapper {
  width: 100%;
  z-index: 1;
  gap: 30px;
  padding: 10px 50px;
  border-radius: 16px;
  flex-direction: row-reverse;
  align-items: flex-start;
}
/* this is movie more detials section  */
#moreDetailsContainer {
  max-height: 100vh;
  max-width: 100%;
  height: 97vh;
  width: 98%;
  position: fixed;
  top: 10px;
  z-index: 50;
  background-color: rgb(0, 0, 0, 0.95);
  border-radius: 18px;
  box-shadow: var(--card_shadow_dark);
  overflow-x: scroll;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  /* display: flex; */
}
@keyframes showDetails {
  from {
    opacity: 0;
    transform: scale(50%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}
.showMoreDetails {
  display: flex;
  animation: showDetails 0.5s ease 1;
}
.hideMoreDetails {
  display: none;
}
#moreDetailsContainer h3 {
  font-size: 35px;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.deepDetailsContainer {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.deepDetailsContainer .photoContainer {
  padding: 10px;
}
.deepDetailsContainer .photoContainer img {
  height: 470px;
  width: 320px;
  border-radius: 31px;
  box-shadow: var(--card_shadow_lite);
}
.deepDetailsContainer .detailsContainer {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  padding-top: 6px;
}

.dataTitle {
  color: rgb(194, 191, 191);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.dataResult {
  padding: 8px 0;
  padding-left: 10px;
  color: orange;
  font-family: "Capriola", sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
}
.productionCom {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
.productionCom span {
  padding: 0 8px;
  border-radius: 8px;
  background-color: rgb(58, 58, 58);
}
.movieGenere {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.movieGenere span {
  color: white;
  padding: 1px 13px;
  font-size: 14px;
  border: 2px solid white;
  border-radius: 18px;
}
.detailsTitle {
  color: white;
  font-size: 28px;
}
.castContainer,
.imagesContainer,
.videosContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 0 5px;
}
.cardWrapper,
.imageWrapper {
  display: flex;
  gap: 10px;
  overflow: scroll;
}
.castCard {
  width: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(56, 238, 223);
  padding: 5px;
  border-radius: 15px;
  width: 135px;
}
.castCard img {
  width: 100%;
  border-radius: 14px;
}
.castCard span {
  color: white;
  font-size: 15px;
  text-align: center;
  width: 100%;
}

.imageWrapper img {
  border: 1px solid white;
  border-radius: 15px;
  height: 26vw;
  width: 54vw;
}
.videosWrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.videosWrapper iframe {
  height: 26.8vw;
  width: 47.3vw;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid red;
}
/* this is trailer section */
#trailerContainer {
  max-height: 85%;
  max-width: 80%;
  height: 55vw;
  width: 85vw;
  background-color: rgb(0, 0, 0, 0.95);
  border-radius: 18px;
  box-shadow: var(--card_shadow_dark);
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.hideContainer {
  display: none;
}
.showContainer {
  display: flex;
  animation: showTrailer 0.3s ease 1;
}
@keyframes showTrailer {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(100%);
  }
}
#crossIcon {
  font-size: 17px;
  position: absolute;
  right: 15px;
  top: 12px;
  z-index: 6;
  cursor: pointer;
}
#crossIcon:active {
  transform: scale(0.95);
}

/* this is bigCard styling */
.bigCard_wrapper .bigCard {
  height: 340px;
  width: 225px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.2s ease-out;
  cursor: pointer;
  flex-shrink: 0;
  box-shadow: var(--card_shadow_dark);
  animation: bigCardFLoat 1s ease 1;
}
@keyframes bigCardFLoat {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.bigCard_wrapper .bigCard:hover {
  transform: scale(103%);
  transition: 0.4s ease;
}
.bigCard_wrapper .bigCard img {
  height: 100%;
  width: 100%;
}

/* this is cDetails styling */
.cDetails {
  min-width: 30%;
  min-height: 340px;
  padding: 10px;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: space-between;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.712);
  box-shadow: var(--card_shadow_dark);
  overflow: hidden;
  animation: detailRender 0.8s ease 1;
}
@keyframes detailRender {
  from {
    opacity: 0;
    transform: scale(50%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}
.cDetails .movieName {
  font-size: 35px;
}
.cDetails .movieGenere {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.cDetails .movieGenere span {
  border-radius: 15px;
  padding: 2px 15px;
  font-size: 14px;
  border: 2px solid rgb(16, 138, 187);
}

.cDetails .movieRelease,
.movieDuration,
.movieRating {
  justify-content: left;
  gap: 7px;
  font-size: 14px;
  font-weight: 600;
}
.movieRelease {
  color: #42dcbd;
}
.movieDuration {
  color: #ff607b;
}
.movieRating {
  color: orange;
}

.cDetails .movieStory {
  font-size: 12px;
  color: rgb(209, 207, 207);
  max-height: 93px;
  overflow-y: scroll;
}

.cDetails .buttonSection {
  gap: 15px;
  margin-top: 10px;
}
.cDetails .buttonSection button {
  border-radius: 18px;
  padding: 3px 15px;
  font-size: 14px;
  font-weight: 600;
}

/* this is responsive section  */

@media screen and (max-width: 900px) {
  .bigCard_wrapper .bigCard {
    height: 322px;
    width: 215px;
  }
  .cDetails {
    min-height: 322px;
    max-width: 60%;
  }
  .cDetails .movieName {
    font-size: 28px;
  }
  .cDetails .movieGenere {
    gap: 5px;
  }
  .cDetails .movieGenere span {
    font-size: 12px;
  }
  .cDetails .buttonSection button {
    font-size: 13px;
  }
  .deepDetailsContainer .photoContainer img {
    height: 435px;
    width: 295px;
  }

  .dataTitle {
    font-size: 15px;
  }
  .dataResult {
    font-size: 14px;
  }
  .movieGenere span {
    font-size: 13px;
  }
  .detailsTitle {
    font-size: 25px;
  }
  .castCard {
    width: 125px;
    font-size: 14px;
  }
  .imageWrapper img {
    height: 26vw;
    width: 52vw;
  }
  .videosWrapper iframe {
    height: 26.1vw;
    width: 46vw;
  }
}

@media screen and (max-width: 750px) {
  .bigCard_wrapper .bigCard {
    height: 300px;
    width: 200px;
  }
  .cDetails {
    min-height: 300px;
    max-width: 80%;
  }
  .cDetails .movieName {
    font-size: 22px;
  }
  .cDetails .movieGenere {
    gap: 5px;
  }
  .cDetails .movieGenere span {
    font-size: 10px;
    padding: 2px 12px;
  }
  .cDetails .movieRelease,
  .movieDuration,
  .movieRating {
    font-size: 12px;
  }
  .cDetails .buttonSection {
    margin-top: 7px;
  }
  .cDetails .buttonSection button {
    font-size: 11px;
    padding: 2px 15px;
  }
  #moreDetailsContainer h3 {
    font-size: 32px;
  }
  .deepDetailsContainer .photoContainer {
    padding: 6px;
  }
  .deepDetailsContainer .photoContainer img {
    height: 400px;
    width: 260px;
  }
  .deepDetailsContainer .detailsContainer {
    gap: 5px;
    padding-top: 3px;
  }
  .dataTitle {
    font-size: 14px;
  }
  .dataResult {
    font-size: 13px;
    padding: 5px 0;
    padding-left: 10px;
  }
  .movieGenere {
    gap: 5px;
  }
  .movieGenere span {
    font-size: 13px;
    padding: 1px 11px;
  }
  .detailsTitle {
    font-size: 23px;
  }
  .castCard {
    width: 105px;
  }
  .castCard span {
    font-size: 12px;
  }
  .imageWrapper img {
    height: 26vw;
    width: 52vw;
  }
  .videosWrapper iframe {
    height: 26.1vw;
    width: 46vw;
  }
}

@media screen and (max-width: 600px) {
  .bigCard_wrapper {
    gap: 20px;
    padding: 10px 20px;
    align-items: center;
  }
  .bigCard_wrapper .bigCard {
    height: 285px;
    width: 190px;
  }
  .cDetails {
    min-height: 285px;
    max-width: 61%;
    gap: 4px;
  }
  .cDetails .movieName {
    font-size: 21px;
  }
  .cDetails .movieGenere {
    gap: 5px;
  }
  .cDetails .movieGenere span {
    font-size: 11px;
    padding: 1px 12px;
  }
  .cDetails .movieRelease,
  .movieDuration,
  .movieRating {
    font-size: 12px;
  }
  .cDetails .movieStory {
    font-size: 12px;
  }
  .cDetails .buttonSection {
    margin-top: 7px;
  }
  .cDetails .buttonSection button {
    font-size: 11px;
    padding: 2px 15px;
  }
  #moreDetailsContainer h3 {
    font-size: 28px;
  }
  .deepDetailsContainer .photoContainer {
    padding: 5px;
  }
  .deepDetailsContainer .photoContainer img {
    height: 60vw;
    width: 38vw;
  }
  .deepDetailsContainer .detailsContainer {
    gap: 5px;
    padding-top: 3px;
  }
  .dataTitle {
    font-size: 14px;
  }
  .dataResult {
    font-size: 13px;
    padding: 5px 0;
    padding-left: 10px;
  }
  .movieGenere {
    gap: 3px;
  }
  .movieGenere span {
    font-size: 11px;
    padding: 2px 8px;
  }
  .imageWrapper img {
    height: 30vw;
    width: 50vw;
  }
  .videosWrapper iframe {
    height: 26.7vw;
    width: 45vw;
  }
}

@media screen and (max-width: 400px) {
  .movieplay_container {
    min-height: 80vh;
    max-height: 90vh;
  }
  .bigCard_wrapper {
    gap: 20px;
    padding: 10px 20px;
    align-items: center;
    flex-direction: column-reverse;
  }
  .bigCard_wrapper .bigCard {
    height: 57vw;
    width: 38vw;
  }
  .cDetails {
    min-height: 285px;
    max-width: 100%;
    gap: 4px;
  }
  .cDetails .movieName {
    font-size: 21px;
  }
  .cDetails .movieGenere {
    gap: 5px;
  }
  .cDetails .movieGenere span {
    font-size: 12px;
    padding: 1px 12px;
  }
  .cDetails .movieRelease,
  .movieDuration,
  .movieRating {
    font-size: 14px;
  }
  .cDetails .movieStory {
    font-size: 12px;
  }
  .cDetails .buttonSection {
    margin-top: 7px;
  }
  .cDetails .buttonSection button {
    font-size: 13px;
    padding: 3px 15px;
  }
  #trailerContainer {
    max-height: 80%;
    max-width: 95%;
    height: 60vw;
    width: 90vw;
  }
  .deepDetailsContainer {
    align-items: center;
    flex-direction: column;
  }
  #moreDetailsContainer h3 {
    font-size: 28px;
  }
  .deepDetailsContainer .photoContainer {
    padding: 5px;
  }
  .deepDetailsContainer .photoContainer img {
    height: 80vw;
    width: 53vw;
  }
  .dataTitle {
    font-size: 16px;
  }
  .dataResult {
    font-size: 14px;
    padding: 5px 0;
    padding-left: 10px;
  }
  .movieGenere {
    gap: 5px;
  }
  .movieGenere span {
    font-size: 13px;
    padding: 2px 10px;
  }
  .imageWrapper img {
    height: 45vw;
    width: 70vw;
  }
  .videosWrapper {
    justify-content: center;
  }
  .videosWrapper iframe {
    height: 50.6vw;
    width: 88vw;
  }
}
