/* Base styles */
.navbar-container {
  background: var(--container_color_darker);
  border-radius: var(--container_borderRadius);
  box-shadow: var(--container_shadow_dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 14px 10px;
  position: sticky;
  top: 10px;
  left: 0;
  z-index: 99;
}
#navbar {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  user-select: none;
  max-width: 70%;
  flex-shrink: 1;
}
#navbar a {
  color: var(--heading_texColor_dark);
  text-decoration: none;
}
#navbar .active {
  border-bottom: 3px solid rgb(245, 120, 18);
  color: rgb(0, 255, 55);
}
#navbar li {
  padding: 0 10px;
  font-family: "Special Elite", system-ui;
  letter-spacing: 2px;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 4px;
}
#navbar li:hover {
  background-color: #021f33;
  transition: 0.4s ease;
  color: rgb(26, 222, 236);
}
#menuBar {
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
#navbar #crossIcon {
  color: rgb(255, 255, 255);
  text-shadow: var(--text_shadow_dark);
  font-size: 24px;
  top: 25px;
  right: 35px;
  cursor: pointer;
  display: none;
}
#navbar #crossIcon:active {
  transform: scale(0.95);
}
#menuBar:active {
  transform: scale(0.95);
}
.searchSection {
  display: flex;
  gap: 20px;
}
.search-bar-container {
  border: 2px solid rgb(8, 253, 233);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px;
  border-radius: 6px;
}
.search-bar-container input {
  outline: 0;
  border: 0;
  font-size: 13px;
  font-weight: 400;
  width: 200px;
  background-color: transparent;
  color: var(--heading_texColor_dark);
}
.search-bar-container i {
  cursor: pointer;
  color: rgb(8, 253, 233);
}
.search-bar-container i:active {
  transform: scale(0.9);
  color: rgb(17, 187, 25);
}
.theme-container {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}
.theme-container .theme-switch-wrapper {
  border: 1px solid white;
  background-color: rgb(0, 0, 0, 0.5);
  width: 42px;
  height: 23px;
  border-radius: 10px;
  padding: 0px 4px;
  position: relative;
}
.theme-container .theme-switch-wrapper .theme-switch {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: rgb(192, 190, 190);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s ease;
}
.theme-container .theme-switch-wrapper .active {
  transform: translate(125%, -50%);
  transition: 0.4s ease;
  background-color: rgb(248, 204, 9);
  box-shadow: 0px 0px 14px 4px orange;
}

/* this is responsive Section */
@media screen and (max-width: 900px) {
  .navbar-container {
    gap: 15px;
  }
  #navbar li {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  .navbar-container {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  #navbar {
    justify-content: space-evenly;
    max-width: 100%;
  }
  #navbar li {
    font-size: 16px;
  }
  .search-bar-container {
    gap: 5px;
    padding: 2px 4px;
  }
}
@media screen and (max-width: 600px) {
  #navbar li {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .navbar-container {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
  #navbar {
    background-color: rgb(0, 0, 0, 0.9);
    position: fixed;
    flex-direction: column;
    border-radius: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 97vh;
    z-index: 99;
    padding: 20px 5px;
    display: none;
    animation: visible 0.2s linear 1;
  }
  @keyframes visible {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(50%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(100%);
    }
  }
  #navbar.visible {
    display: flex;
  }
  #navbar li {
    font-size: 5.5vw;
  }
  #navbar #crossIcon {
    position: absolute;
    display: flex;
  }
  #menuBar {
    display: flex;
    font-size: 7vw;
  }
  .searchSection {
    gap: 6px;
  }
  .search-bar-container {
    padding: 3px;
  }
  .search-bar-container input {
    width: 60vw;
  }
  .search-bar-container i {
    font-size: 4.5vw;
  }
}
