/* this is card container  */

.working_area {
  border-radius: var(--container_borderRadius);
  box-shadow: var(--container_shadow_dark);
  background: var(--container_color_dark);
}
.cards-title {
  font-size: 17px;
  font-weight: 600;
  color: var(--heading_texColor_dark);
  margin: 15px 0;
}
.card-container {
  padding: 10px;
  font-family: "Podkova", serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* this is Recommendation bar */

.recommend-container {
  padding: 0 10px;
  overflow-y: hidden;
}

.recommend-container h3 {
  color: white;
  font-size: 16px;
}
.scroll-container {
  padding: 10px 0;
  display: flex;
  gap: 15px;
  overflow: scroll;
}

/* this is playing area */
.playing_area {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0;
  width: 100%;
}

.hide {
  display: none;
}
.show {
  display: flex;
}

/* this is toggle container */

.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 10px;
}
.toggleItems {
  display: flex;
  gap: 10px;
}
.toggleItems a {
  color: white;
  font-size: 14px;
  background-color: grey;
  border-radius: 8px;
  padding: 2px 15px;
  box-shadow: inset 0px 4px 14px 2px black;
  text-decoration: none;
}
.toggleContainer .active {
  color: white;
  border-bottom: 4px solid rgb(40, 192, 10);
  transform: scale(1.05);
  box-shadow: 0px 1px 4px 0px #3fd7d9;
}
